 <!-- TODO:
  If price is above 1000, the buttons change shape, fix

  -->


<div style="padding: 10px;">
<div class="card shadow-sm">
    <!-- Images stored in assets folder -->
    <img class="bd-placeholder-img card-img-top" width="auto" height="auto" [src]="productItem.image" alt="Cupcake" />

    <div class="card-body">
      <p class="card-text" style="text-align: center;">{{ productItem.name }}</p>
      <p style="text-align: center;">{{ productItem.description }}</p>
      <p style="text-align: center;">{{ productItem.price | currency: "R" }}</p>
      <div class="text-center">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary product-btn d-flex">Add to cart</button>
          <button type="button" class="btn btn-sm btn-secondary product-btn d-flex">Ingredients</button>
        </div>
      </div>
    </div>
</div>